openapi: 3.0.1
info:
  title: AssistedInstall
  description: Assisted installation
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: http://api.openshift.com/api/assisted-install
  - url: https://api.openshift.com/api/assisted-install
security:
  - userAuth:
      - admin
      - user
tags:
  - name: Assisted installation
    description: Agent-driven installation
  - name: events
    description: Events related to a cluster installation.
  - name: installer
    description: General OpenShift cluster installation APIs.
  - name: managed_domains
    description: Managed dns domains for a cluster installation.
  - name: manifests
    description: Manifests for customizing a cluster installation.
  - name: operators
    description: Information regarding supported operators.
  - name: versions
    description: Information regarding versions.
paths:
  /v2/clusters:
    get:
      tags:
        - installer
      description: Retrieves the list of OpenShift clusters.
      operationId: v2ListClusters
      parameters:
        - name: get_unregistered_clusters
          in: header
          description: Whether to return clusters that have been unregistered.
          schema:
            type: boolean
            default: false
        - name: openshift_cluster_id
          in: query
          description: A specific cluster to retrieve.
          schema:
            type: string
            format: uuid
        - name: ams_subscription_ids
          in: query
          description: >-
            If non-empty, returned Clusters are filtered to those with matching
            subscription IDs.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: with_hosts
          in: query
          description: Include hosts in the returned list.
          allowEmptyValue: true
          schema:
            type: boolean
            default: false
        - name: owner
          in: query
          description: >-
            If provided, returns only clusters that are owned by the specified
            user.
          schema:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - href
                    - id
                    - image_info
                    - kind
                    - status
                    - status_info
                  type: object
                  properties:
                    additional_ntp_source:
                      type: string
                      description: >-
                        A comma-separated list of NTP sources (name or IP) going
                        to be added to all the hosts.
                    ams_subscription_id:
                      type: string
                      description: Unique identifier of the AMS subscription in OCM.
                      format: uuid
                    api_vip_dns_name:
                      type: string
                      description: The domain name used to reach the OpenShift cluster API.
                      nullable: true
                    api_vips:
                      type: array
                      description: >-
                        The virtual IPs used to reach the OpenShift cluster's
                        API. Enter one IP address for single-stack clusters, or
                        up to two for dual-stack clusters (at most one IP
                        address per IP stack used). The order of stacks should
                        be the same as order of subnets in Cluster Networks,
                        Service Networks, and Machine Networks.
                      nullable: true
                      items:
                        type: object
                        properties:
                          cluster_id:
                            type: string
                            description: The cluster that this VIP is associated with.
                            format: uuid
                            x-go-custom-tag: gorm:"primaryKey"
                          ip:
                            pattern: >-
                              ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3})|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,}))?$
                            type: string
                            x-go-custom-tag: gorm:"primaryKey"
                          verification:
                            type: string
                            description: vip verification result.
                            default: unverified
                            enum:
                              - unverified
                              - failed
                              - succeeded
                        description: >-
                          The virtual IP used to reach the OpenShift cluster's
                          API.
                      x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                    base_dns_domain:
                      type: string
                      description: >-
                        Base domain of the cluster. All DNS records must be
                        sub-domains of this base and include the cluster name.
                    cluster_network_cidr:
                      pattern: >-
                        ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                      type: string
                      description: >-
                        IP address block from which Pod IPs are allocated. This
                        block must not overlap with existing physical networks.
                        These IP addresses are used for the Pod network, and if
                        you need to access the Pods from an external network,
                        configure load balancers and routers to manage the
                        traffic.
                    cluster_network_host_prefix:
                      maximum: 128
                      minimum: 1
                      type: integer
                      description: >-
                        The subnet prefix length to assign to each individual
                        node. For example, if clusterNetworkHostPrefix is set to
                        23, then each node is assigned a /23 subnet out of the
                        given cidr (clusterNetworkCIDR), which allows for 510
                        (2^(32 - 23) - 2) pod IPs addresses. If you are required
                        to provide access to nodes from an external network,
                        configure load balancers and routers to manage the
                        traffic.
                    cluster_networks:
                      type: array
                      description: Cluster networks that are associated with this cluster.
                      nullable: true
                      items:
                        type: object
                        properties:
                          cidr:
                            pattern: >-
                              ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                            type: string
                            x-go-custom-tag: gorm:"primaryKey"
                          cluster_id:
                            type: string
                            description: The cluster that this network is associated with.
                            format: uuid
                            x-go-custom-tag: gorm:"primaryKey"
                          host_prefix:
                            maximum: 128
                            minimum: 1
                            type: integer
                            description: >-
                              The subnet prefix length to assign to each
                              individual node. For example if is set to 23, then
                              each node is assigned a /23 subnet out of the
                              given CIDR, which allows for 510 (2^(32 - 23) - 2)
                              pod IPs addresses.
                        description: >-
                          A network from which Pod IPs are allocated. This block
                          must not overlap with existing physical networks.
                          These IP addresses are used for the Pod network, and
                          if you need to access the Pods from an external
                          network, configure load balancers and routers to
                          manage the traffic.
                      x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                    connectivity_majority_groups:
                      type: string
                      description: >-
                        Json formatted string containing the majority groups for
                        connectivity checks.
                      x-go-custom-tag: gorm:"type:text"
                    controller_logs_collected_at:
                      type: string
                      format: date-time
                      x-go-custom-tag: gorm:"type:timestamp with time zone"
                    controller_logs_started_at:
                      type: string
                      format: date-time
                      x-go-custom-tag: gorm:"type:timestamp with time zone"
                    cpu_architecture:
                      type: string
                      description: The CPU architecture of the image (x86_64/arm64/etc).
                      nullable: false
                      default: x86_64
                      enum:
                        - x86_64
                        - aarch64
                        - arm64
                        - ppc64le
                        - s390x
                        - multi
                    created_at:
                      type: string
                      description: The time that this cluster was created.
                      format: date-time
                      x-go-custom-tag: gorm:"type:timestamp with time zone"
                      x-go-type:
                        hints:
                          noValidation: true
                        import:
                          package: time
                        type: Time
                    deleted_at:
                      type: object
                      description: swagger:ignore
                      nullable: false
                      x-go-custom-tag: gorm:"type:timestamp with time zone;index"
                      x-go-type:
                        hints:
                          noValidation: true
                        import:
                          package: gorm.io/gorm
                        type: DeletedAt
                    disk_encryption:
                      type: object
                      properties:
                        enable_on:
                          type: string
                          description: >-
                            Enable/disable disk encryption on master nodes,
                            worker nodes, or all nodes.
                          default: none
                          enum:
                            - none
                            - all
                            - masters
                            - workers
                        mode:
                          type: string
                          description: The disk encryption mode to use.
                          default: tpmv2
                          enum:
                            - tpmv2
                            - tang
                        tang_servers:
                          type: string
                          description: >-
                            JSON-formatted string containing additional
                            information regarding tang's configuration
                          example: >-
                            [{"url":"http://tang.example.com:7500","thumbprint":"PLjNyRdGw03zlRoGjQYMahSZGu9"},
                            {"url":"http://tang.example.com:7501","thumbprint":"PLjNyRdGw03zlRoGjQYMahSZGu8"}]
                          x-go-custom-tag: gorm:"type:text"
                      x-go-custom-tag: gorm:"embedded;embeddedPrefix:disk_encryption_"
                    email_domain:
                      type: string
                    enabled_host_count:
                      type: integer
                      description: >-
                        hosts associated to this cluster that are not in
                        'disabled' state.
                      format: int64
                      x-go-custom-tag: gorm:"-"
                    feature_usage:
                      type: string
                      description: >-
                        JSON-formatted string containing the usage information
                        by feature name
                      x-go-custom-tag: gorm:"type:text"
                    high_availability_mode:
                      type: string
                      description: >
                        Guaranteed availability of the installed cluster. 'Full'
                        installs a Highly-Available cluster

                        over multiple master nodes whereas 'None' installs a
                        full cluster over one node.
                      default: Full
                      enum:
                        - Full
                        - None
                    host_networks:
                      type: array
                      description: List of host networks to be filled during query.
                      nullable: true
                      items:
                        type: object
                        properties:
                          cidr:
                            type: string
                          host_ids:
                            type: array
                            items:
                              type: string
                              format: uuid
                      x-go-custom-tag: gorm:"-"
                    hosts:
                      type: array
                      description: Hosts that are associated with this cluster.
                      items:
                        required:
                          - href
                          - id
                          - kind
                          - status
                          - status_info
                        type: object
                        properties:
                          api_vip_connectivity:
                            type: string
                            description: >-
                              Contains a serialized
                              api_vip_connectivity_response
                            x-go-custom-tag: gorm:"type:text"
                          bootstrap:
                            type: boolean
                          checked_in_at:
                            type: string
                            description: >-
                              The last time the host's agent communicated with
                              the service.
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                          cluster_id:
                            type: string
                            description: The cluster that this host is associated with.
                            format: uuid
                            nullable: true
                            x-go-custom-tag: gorm:"foreignkey:Cluster"
                          connectivity:
                            type: string
                            x-go-custom-tag: gorm:"type:text"
                          created_at:
                            type: string
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                            x-go-type:
                              hints:
                                noValidation: true
                              import:
                                package: time
                              type: Time
                          deleted_at:
                            type: object
                            description: swagger:ignore
                            nullable: false
                            x-go-custom-tag: gorm:"type:timestamp with time zone;index"
                            x-go-type:
                              hints:
                                noValidation: true
                              import:
                                package: gorm.io/gorm
                              type: DeletedAt
                          discovery_agent_version:
                            type: string
                          disks_info:
                            type: string
                            description: >-
                              Additional information about disks, formatted as
                              JSON.
                            x-go-custom-tag: gorm:"type:text"
                          disks_to_be_formatted:
                            type: string
                            description: >-
                              A comma-separated list of disks that will be
                              formatted once

                              installation begins, unless otherwise set to be
                              skipped by

                              skip_formatting_disks. This means that this list
                              also includes disks

                              that appear in skip_formatting_disks. This
                              property is managed by the

                              service and cannot be modified by the user.
                            x-go-custom-tag: gorm:"type:text"
                          domain_name_resolutions:
                            type: string
                            description: The domain name resolution result.
                            x-go-custom-tag: gorm:"type:text"
                          free_addresses:
                            type: string
                            x-go-custom-tag: gorm:"type:text"
                          href:
                            type: string
                            description: Self link.
                          id:
                            type: string
                            description: Unique identifier of the object.
                            format: uuid
                            x-go-custom-tag: gorm:"primaryKey"
                          ignition_config_overrides:
                            type: string
                            description: >-
                              Json formatted string containing the user
                              overrides for the host's pointer ignition
                            example: >-
                              {"ignition": {"version": "3.1.0"}, "storage":
                              {"files": [{"path": "/tmp/example", "contents":
                              {"source":
                              "data:text/plain;base64,aGVscGltdHJhcHBlZGluYXN3YWdnZXJzcGVj"}}]}}
                            x-go-custom-tag: gorm:"type:text"
                          ignition_endpoint_token_set:
                            type: boolean
                            description: >-
                              True if the token to fetch the ignition from
                              ignition_endpoint_url is set.
                          images_status:
                            type: string
                            description: Array of image statuses.
                            x-go-custom-tag: gorm:"type:text"
                          infra_env_id:
                            type: string
                            description: The infra-env that this host is associated with.
                            format: uuid
                            x-go-custom-tag: gorm:"primaryKey;foreignkey:InfraEnvID"
                          installation_disk_id:
                            type: string
                            description: Contains the inventory disk id to install on.
                          installation_disk_path:
                            type: string
                            description: >-
                              Contains the inventory disk path, This field is
                              replaced by installation_disk_id field and used
                              for backward compatability with the old UI.
                            example: /dev/sda
                          installer_args:
                            type: string
                          installer_version:
                            type: string
                            description: Installer version.
                          inventory:
                            type: string
                            x-go-custom-tag: gorm:"type:text"
                          kind:
                            type: string
                            description: >
                              Indicates the type of this object. Will be 'Host'
                              if this is a complete object or 'HostLink' if it
                              is just a link, or

                              'AddToExistingClusterHost' for host being added to
                              existing OCP cluster, or
                            enum:
                              - Host
                              - AddToExistingClusterHost
                          logs_collected_at:
                            type: string
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                          logs_info:
                            type: string
                            enum:
                              - requested
                              - collecting
                              - completed
                              - timeout
                              - ''
                            x-go-custom-tag: gorm:"type:varchar(2048)"
                          logs_started_at:
                            type: string
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                          machine_config_pool_name:
                            type: string
                          media_status:
                            type: string
                            nullable: true
                            default: connected
                            enum:
                              - connected
                              - disconnected
                          node_labels:
                            type: string
                            description: Json containing node's labels.
                            x-go-custom-tag: gorm:"type:text"
                          ntp_sources:
                            type: string
                            description: The configured NTP sources on the host.
                            x-go-custom-tag: gorm:"type:text"
                          progress:
                            type: object
                            properties:
                              current_stage:
                                type: string
                                enum:
                                  - Starting installation
                                  - Waiting for control plane
                                  - Waiting for bootkube
                                  - Waiting for controller
                                  - Installing
                                  - Writing image to disk
                                  - Rebooting
                                  - Waiting for ignition
                                  - Configuring
                                  - Joined
                                  - Done
                                  - Failed
                              installation_percentage:
                                type: integer
                              progress_info:
                                type: string
                                x-go-custom-tag: gorm:"type:varchar(2048)"
                              stage_started_at:
                                type: string
                                description: >-
                                  Time at which the current progress stage
                                  started.
                                format: date-time
                                x-go-custom-tag: gorm:"type:timestamp with time zone"
                              stage_updated_at:
                                type: string
                                description: >-
                                  Time at which the current progress stage was
                                  last updated.
                                format: date-time
                                x-go-custom-tag: gorm:"type:timestamp with time zone"
                            x-go-custom-tag: gorm:"embedded;embeddedPrefix:progress_"
                          progress_stages:
                            type: array
                            nullable: true
                            items:
                              type: string
                              enum:
                                - Starting installation
                                - Waiting for control plane
                                - Waiting for bootkube
                                - Waiting for controller
                                - Installing
                                - Writing image to disk
                                - Rebooting
                                - Waiting for ignition
                                - Configuring
                                - Joined
                                - Done
                                - Failed
                            x-go-custom-tag: gorm:"-"
                          registered_at:
                            type: string
                            description: >-
                              The last time the host's agent tried to register
                              in the service.
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                          requested_hostname:
                            type: string
                          role:
                            type: string
                            enum:
                              - auto-assign
                              - master
                              - worker
                              - bootstrap
                          skip_formatting_disks:
                            type: string
                            description: >-
                              A comma-seperated list of host disks that the
                              service will avoid

                              formatting.
                            x-go-custom-tag: gorm:"type:text"
                          stage_started_at:
                            type: string
                            description: Time at which the current progress stage started.
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                          stage_updated_at:
                            type: string
                            description: >-
                              Time at which the current progress stage was last
                              updated.
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                          status:
                            type: string
                            enum:
                              - discovering
                              - known
                              - disconnected
                              - insufficient
                              - disabled
                              - preparing-for-installation
                              - preparing-failed
                              - preparing-successful
                              - pending-for-input
                              - installing
                              - installing-in-progress
                              - installing-pending-user-action
                              - resetting-pending-user-action
                              - installed
                              - error
                              - resetting
                              - added-to-existing-cluster
                              - cancelled
                              - binding
                              - unbinding
                              - unbinding-pending-user-action
                              - known-unbound
                              - disconnected-unbound
                              - insufficient-unbound
                              - disabled-unbound
                              - discovering-unbound
                              - reclaiming
                              - reclaiming-rebooting
                          status_info:
                            type: string
                            x-go-custom-tag: gorm:"type:varchar(2048)"
                          status_updated_at:
                            type: string
                            description: The last time that the host status was updated.
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                          suggested_role:
                            type: string
                            enum:
                              - auto-assign
                              - master
                              - worker
                              - bootstrap
                          tang_connectivity:
                            type: string
                            x-go-custom-tag: gorm:"type:text"
                          timestamp:
                            type: integer
                            description: >-
                              The time on the host as seconds since the Unix
                              epoch.
                          updated_at:
                            type: string
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                            x-go-type:
                              hints:
                                noValidation: true
                              import:
                                package: time
                              type: Time
                          user_name:
                            type: string
                          validations_info:
                            type: string
                            description: >-
                              JSON-formatted string containing the validation
                              results for each validation id grouped by category
                              (network, hardware, etc.)
                            x-go-custom-tag: gorm:"type:text"
                      x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                    href:
                      type: string
                      description: Self link.
                    http_proxy:
                      type: string
                      description: >
                        A proxy URL to use for creating HTTP connections outside
                        the cluster.

                        http://\<username\>:\<pswd\>@\<ip\>:\<port\>
                    https_proxy:
                      type: string
                      description: >
                        A proxy URL to use for creating HTTPS connections
                        outside the cluster.

                        http://\<username\>:\<pswd\>@\<ip\>:\<port\>
                      x-go-custom-tag: gorm:"column:https_proxy"
                    hyperthreading:
                      type: string
                      description: >-
                        Enable/disable hyperthreading on master nodes, worker
                        nodes, or all nodes
                      enum:
                        - masters
                        - workers
                        - all
                        - none
                    id:
                      type: string
                      description: Unique identifier of the object.
                      format: uuid
                      x-go-custom-tag: gorm:"primaryKey"
                    ignition_endpoint:
                      type: object
                      properties:
                        ca_certificate:
                          type: string
                          description: >-
                            base64 encoded CA certficate to be used when
                            contacting the URL via https.
                          nullable: true
                        url:
                          type: string
                          description: The URL for the ignition endpoint.
                          nullable: true
                      description: >-
                        Explicit ignition endpoint overrides the default
                        ignition endpoint.
                      x-go-custom-tag: gorm:"embedded;embeddedPrefix:ignition_endpoint_"
                    ignored_cluster_validations:
                      type: string
                      description: >-
                        Json formatted string containing a list of cluster
                        validations to be ignored. May also contain a list with
                        a single string "all" to ignore all cluster validations.
                        Some validations cannot be ignored.
                      x-go-custom-tag: gorm:"type:text"
                    ignored_host_validations:
                      type: string
                      description: >-
                        Json formatted string containing a list of host
                        validations to be ignored. May also contain a list with
                        a single string "all" to ignore all host validations.
                        Some validations cannot be ignored.
                      x-go-custom-tag: gorm:"type:text"
                    image_info:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          x-go-custom-tag: gorm:"type:timestamp with time zone"
                          x-go-type:
                            hints:
                              noValidation: true
                            import:
                              package: time
                            type: Time
                        download_url:
                          type: string
                        expires_at:
                          type: string
                          format: date-time
                          x-go-custom-tag: gorm:"type:timestamp with time zone"
                        generator_version:
                          type: string
                          description: Image generator version.
                        size_bytes:
                          type: integer
                        ssh_public_key:
                          type: string
                          description: SSH public key for debugging the installation.
                        static_network_config:
                          type: string
                          description: >-
                            static network configuration string in the format
                            expected by discovery ignition generation
                        type:
                          type: string
                          enum:
                            - full-iso
                            - minimal-iso
                      x-go-custom-tag: gorm:"embedded;embeddedPrefix:image_"
                    imported:
                      type: boolean
                      description: >-
                        Indicates whether this cluster is an imported day-2
                        cluster or a

                        regular cluster. Clusters are considered imported when
                        they are

                        created via the ../clusters/import endpoint. Day-2
                        clusters converted

                        from day-1 clusters by kube-api controllers or the

                        ../clusters/<cluster_id>/actions/allow-add-hosts
                        endpoint are not

                        considered imported. Imported clusters usually lack a
                        lot of

                        information and are filled with default values that
                        don't necessarily

                        reflect the actual cluster they represent
                      default: false
                    ingress_vips:
                      type: array
                      description: >-
                        The virtual IPs used for cluster ingress traffic. Enter
                        one IP address for single-stack clusters, or up to two
                        for dual-stack clusters (at most one IP address per IP
                        stack used). The order of stacks should be the same as
                        order of subnets in Cluster Networks, Service Networks,
                        and Machine Networks.
                      nullable: true
                      items:
                        type: object
                        properties:
                          cluster_id:
                            type: string
                            description: The cluster that this VIP is associated with.
                            format: uuid
                            x-go-custom-tag: gorm:"primaryKey"
                          ip:
                            pattern: >-
                              ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3})|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,}))?$
                            type: string
                            x-go-custom-tag: gorm:"primaryKey"
                          verification:
                            type: string
                            description: vip verification result.
                            default: unverified
                            enum:
                              - unverified
                              - failed
                              - succeeded
                        description: The virtual IP used for cluster ingress traffic.
                      x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                    install_completed_at:
                      type: string
                      description: The time that this cluster completed installation.
                      format: date-time
                      x-go-custom-tag: gorm:"type:timestamp with time zone"
                    install_config_overrides:
                      type: string
                      description: >-
                        JSON-formatted string containing the user overrides for
                        the install-config.yaml file.
                      example: >-
                        {"networking":{"networkType":
                        "OVNKubernetes"},"fips":true}
                      x-go-custom-tag: gorm:"type:text"
                    install_started_at:
                      type: string
                      description: The time that this cluster started installation.
                      format: date-time
                      x-go-custom-tag: gorm:"type:timestamp with time zone"
                    ip_collisions:
                      type: string
                      description: >-
                        Json formatted string containing ip collisions detected
                        in the cluster.
                      x-go-custom-tag: gorm:"type:text"
                    kind:
                      type: string
                      description: >
                        Indicates the type of this object. Will be 'Cluster' if
                        this is a complete object,

                        'AddHostsCluster' for cluster that add hosts to existing
                        OCP cluster,
                      enum:
                        - Cluster
                        - AddHostsCluster
                    last-installation-preparation:
                      type: object
                      properties:
                        reason:
                          type: string
                          description: The reason for the preparation status if applicable
                        status:
                          type: string
                          description: The last installation preparation status
                          nullable: false
                          default: preparation_never_performed
                          enum:
                            - preparation_never_performed
                            - failed
                            - success
                      description: >-
                        Gives the status of the last installation preparation
                        (if any)
                      nullable: false
                      x-go-custom-tag: >-
                        gorm:"embedded;embeddedPrefix:last_installation_preparation_"
                      x-nullable: false
                    logs_info:
                      type: string
                      enum:
                        - requested
                        - collecting
                        - completed
                        - timeout
                        - ''
                      x-go-custom-tag: gorm:"type:varchar(2048)"
                    machine_network_cidr:
                      pattern: >-
                        ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                      type: string
                      description: >-
                        A CIDR that all hosts belonging to the cluster should
                        have an interfaces with IP address that belongs to this
                        CIDR. The api_vip belongs to this CIDR.
                    machine_networks:
                      type: array
                      description: Machine networks that are associated with this cluster.
                      nullable: true
                      items:
                        type: object
                        properties:
                          cidr:
                            pattern: >-
                              ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                            type: string
                            x-go-custom-tag: gorm:"primaryKey"
                          cluster_id:
                            type: string
                            description: The cluster that this network is associated with.
                            format: uuid
                            x-go-custom-tag: gorm:"primaryKey"
                        description: >-
                          A network that all hosts belonging to the cluster
                          should have an interface with IP address in. The VIPs
                          (if exist) belong to this network.
                      x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                    monitored_operators:
                      type: array
                      description: Operators that are associated with this cluster.
                      items:
                        type: object
                        properties:
                          cluster_id:
                            type: string
                            description: The cluster that this operator is associated with.
                            format: uuid
                            x-go-custom-tag: gorm:"primaryKey"
                          name:
                            type: string
                            description: Unique name of the operator.
                            x-go-custom-tag: gorm:"primaryKey"
                          namespace:
                            type: string
                            description: >-
                              Namespace where to deploy an operator. Only some
                              operators require a namespace.
                          operator_type:
                            type: string
                            description: >-
                              Kind of operator. Different types are monitored by
                              the service differently.
                            enum:
                              - builtin
                              - olm
                          properties:
                            type: string
                            description: >-
                              Blob of operator-dependent parameters that are
                              required for installation.
                            x-go-custom-tag: gorm:"type:text"
                          status:
                            type: string
                            description: Represents the operator state.
                            enum:
                              - failed
                              - progressing
                              - available
                          status_info:
                            type: string
                            description: Detailed information about the operator state.
                          status_updated_at:
                            type: string
                            description: Time at which the operator was last updated.
                            format: date-time
                            x-go-custom-tag: gorm:"type:timestamp with time zone"
                          subscription_name:
                            type: string
                            description: The name of the subscription of the operator.
                          timeout_seconds:
                            type: integer
                            description: >-
                              Positive number represents a timeout in seconds
                              for the operator to be available.
                          version:
                            type: string
                            description: Operator version
                      x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                    name:
                      type: string
                      description: Name of the OpenShift cluster.
                    network_type:
                      type: string
                      description: The desired network type used.
                      nullable: true
                      enum:
                        - OpenShiftSDN
                        - OVNKubernetes
                    no_proxy:
                      type: string
                      description: >-
                        A comma-separated list of destination domain names,
                        domains, IP addresses, or other network CIDRs to exclude
                        from proxying.
                    ocp_release_image:
                      type: string
                      description: OpenShift release image URI.
                    openshift_cluster_id:
                      type: string
                      description: Cluster ID on OCP system.
                      format: uuid
                    openshift_version:
                      type: string
                      description: Version of the OpenShift cluster.
                    org_id:
                      type: string
                    platform:
                      required:
                        - type
                      type: object
                      properties:
                        external:
                          type: object
                          properties:
                            cloud_controller_manager:
                              type: string
                              description: >-
                                When set to external, this property will enable
                                an external cloud provider.
                              nullable: true
                              default: ''
                              enum:
                                - ''
                                - External
                            platform_name:
                              minLength: 1
                              type: string
                              description: >-
                                Holds the arbitrary string representing the
                                infrastructure provider name.
                              nullable: true
                          description: >-
                            Configuration used when installing with an external
                            platform type.
                          x-go-custom-tag: gorm:"embedded;embeddedPrefix:external_"
                        type:
                          type: string
                          enum:
                            - baremetal
                            - nutanix
                            - vsphere
                            - none
                            - external
                      description: >-
                        The configuration for the specific platform upon which
                        to perform the installation.
                      x-go-custom-tag: gorm:"embedded;embeddedPrefix:platform_"
                    progress:
                      type: object
                      properties:
                        finalizing_stage:
                          type: string
                          description: Cluster finalizing stage managed by controller
                          enum:
                            - Waiting for finalizing
                            - Waiting for cluster operators
                            - Adding router ca
                            - Waiting for olm operators
                            - Applying manifests
                            - Waiting for olm operators csv
                            - Done
                        finalizing_stage_percentage:
                          type: integer
                        finalizing_stage_started_at:
                          type: string
                          format: date-time
                          x-go-custom-tag: gorm:"type:timestamp with time zone"
                        installing_stage_percentage:
                          type: integer
                        node_updater_finished_at:
                          type: string
                          format: date-time
                          x-go-custom-tag: gorm:"type:timestamp with time zone"
                        node_updater_started_at:
                          type: string
                          format: date-time
                          x-go-custom-tag: gorm:"type:timestamp with time zone"
                        preparing_for_installation_stage_percentage:
                          type: integer
                        total_percentage:
                          type: integer
                      x-go-custom-tag: gorm:"embedded;embeddedPrefix:progress_"
                    pull_secret_set:
                      type: boolean
                      description: True if the pull secret has been added to the cluster.
                    ready_host_count:
                      type: integer
                      description: >-
                        hosts associated to this cluster that are in 'known'
                        state.
                      format: int64
                      x-go-custom-tag: gorm:"-"
                    schedulable_masters:
                      type: boolean
                      description: Schedule workloads on masters
                      default: false
                    schedulable_masters_forced_true:
                      type: boolean
                      description: >
                        Indicates if schedule workloads on masters will be
                        enabled regardless the value of 'schedulable_masters'
                        property.

                        Set to 'true' when not enough hosts are associated with
                        this cluster to disable the scheduling on masters.
                      default: true
                    service_network_cidr:
                      pattern: >-
                        ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                      type: string
                      description: >-
                        The IP address pool to use for service IP addresses. You
                        can enter only one IP address pool. If you need to
                        access the services from an external network, configure
                        load balancers and routers to manage the traffic.
                    service_networks:
                      type: array
                      description: Service networks that are associated with this cluster.
                      nullable: true
                      items:
                        type: object
                        properties:
                          cidr:
                            pattern: >-
                              ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                            type: string
                            x-go-custom-tag: gorm:"primaryKey"
                          cluster_id:
                            type: string
                            description: >-
                              A network to use for service IP addresses. If you
                              need to access the services from an external
                              network, configure load balancers and routers to
                              manage the traffic.
                            format: uuid
                            x-go-custom-tag: gorm:"primaryKey"
                        description: IP address block for service IP blocks.
                      x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                    ssh_public_key:
                      type: string
                      description: SSH public key for debugging OpenShift nodes.
                    status:
                      type: string
                      description: Status of the OpenShift cluster.
                      enum:
                        - insufficient
                        - ready
                        - error
                        - preparing-for-installation
                        - pending-for-input
                        - installing
                        - finalizing
                        - installed
                        - adding-hosts
                        - cancelled
                        - installing-pending-user-action
                    status_info:
                      type: string
                      description: >-
                        Additional information pertaining to the status of the
                        OpenShift cluster.
                      x-go-custom-tag: gorm:"type:varchar(2048)"
                    status_updated_at:
                      type: string
                      description: The last time that the cluster status was updated.
                      format: date-time
                      x-go-custom-tag: gorm:"type:timestamp with time zone"
                    tags:
                      type: string
                      description: >-
                        A comma-separated list of tags that are associated to
                        the cluster.
                    total_host_count:
                      type: integer
                      description: All hosts associated to this cluster.
                      format: int64
                      x-go-custom-tag: gorm:"-"
                    updated_at:
                      type: string
                      description: The last time that this cluster was updated.
                      format: date-time
                      x-go-custom-tag: gorm:"type:timestamp with time zone"
                      x-go-type:
                        hints:
                          noValidation: true
                        import:
                          package: time
                        type: Time
                    user_managed_networking:
                      type: boolean
                      description: >-
                        (DEPRECATED) Indicate if the networking is managed by
                        the user.
                      nullable: true
                    user_name:
                      type: string
                    validations_info:
                      type: string
                      description: >-
                        JSON-formatted string containing the validation results
                        for each validation id grouped by category (network,
                        hosts-data, etc.)
                      x-go-custom-tag: gorm:"type:text"
                    vip_dhcp_allocation:
                      type: boolean
                      description: Indicate if virtual IP DHCP allocation mode is enabled.
                      nullable: true
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                type: object
                properties:
                  code:
                    maximum: 403
                    minimum: 401
                    type: integer
                    description: Numeric identifier of the error.
                    format: int32
                  message:
                    type: string
                    description: Human-readable description of the error.
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                type: object
                properties:
                  code:
                    maximum: 403
                    minimum: 401
                    type: integer
                    description: Numeric identifier of the error.
                    format: int32
                  message:
                    type: string
                    description: Human-readable description of the error.
        '405':
          description: Method Not Allowed.
          content:
            application/json:
              schema:
                required:
                  - code
                  - href
                  - id
                  - kind
                  - reason
                type: object
                properties:
                  code:
                    type: string
                    description: >-
                      Globally unique code of the error, composed of the unique
                      identifier of the API and the numeric identifier of the
                      error. For example, if the numeric identifier of the error
                      is 93 and the identifier of the API is assisted_install
                      then the code will be ASSISTED-INSTALL-93.
                  href:
                    type: string
                    description: Self link.
                  id:
                    maximum: 504
                    minimum: 400
                    type: integer
                    description: Numeric identifier of the error.
                    format: int32
                  kind:
                    type: string
                    description: Indicates the type of this object. Will always be 'Error'.
                    enum:
                      - Error
                  reason:
                    type: string
                    description: Human-readable description of the error.
        '500':
          description: Error.
          content:
            application/json:
              schema:
                required:
                  - code
                  - href
                  - id
                  - kind
                  - reason
                type: object
                properties:
                  code:
                    type: string
                    description: >-
                      Globally unique code of the error, composed of the unique
                      identifier of the API and the numeric identifier of the
                      error. For example, if the numeric identifier of the error
                      is 93 and the identifier of the API is assisted_install
                      then the code will be ASSISTED-INSTALL-93.
                  href:
                    type: string
                    description: Self link.
                  id:
                    maximum: 504
                    minimum: 400
                    type: integer
                    description: Numeric identifier of the error.
                    format: int32
                  kind:
                    type: string
                    description: Indicates the type of this object. Will always be 'Error'.
                    enum:
                      - Error
                  reason:
                    type: string
                    description: Human-readable description of the error.
        '503':
          description: Unavailable.
          content:
            application/json:
              schema:
                required:
                  - code
                  - href
                  - id
                  - kind
                  - reason
                type: object
                properties:
                  code:
                    type: string
                    description: >-
                      Globally unique code of the error, composed of the unique
                      identifier of the API and the numeric identifier of the
                      error. For example, if the numeric identifier of the error
                      is 93 and the identifier of the API is assisted_install
                      then the code will be ASSISTED-INSTALL-93.
                  href:
                    type: string
                    description: Self link.
                  id:
                    maximum: 504
                    minimum: 400
                    type: integer
                    description: Numeric identifier of the error.
                    format: int32
                  kind:
                    type: string
                    description: Indicates the type of this object. Will always be 'Error'.
                    enum:
                      - Error
                  reason:
                    type: string
                    description: Human-readable description of the error.
      security:
        - userAuth:
            - admin
            - read-only-admin
            - user
    post:
      tags:
        - installer
      description: Creates a new OpenShift cluster definition.
      operationId: v2RegisterCluster
      requestBody:
        description: The properties describing the new cluster.
        content:
          application/json:
            schema:
              required:
                - name
                - openshift_version
                - pull_secret
              type: object
              properties:
                additional_ntp_source:
                  type: string
                  description: >-
                    A comma-separated list of NTP sources (name or IP) going to
                    be added to all the hosts.
                  nullable: true
                api_vips:
                  type: array
                  description: >-
                    The virtual IPs used to reach the OpenShift cluster's API.
                    Enter one IP address for single-stack clusters, or up to two
                    for dual-stack clusters (at most one IP address per IP stack
                    used). The order of stacks should be the same as order of
                    subnets in Cluster Networks, Service Networks, and Machine
                    Networks.
                  items:
                    type: object
                    properties:
                      cluster_id:
                        type: string
                        description: The cluster that this VIP is associated with.
                        format: uuid
                        x-go-custom-tag: gorm:"primaryKey"
                      ip:
                        pattern: >-
                          ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3})|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,}))?$
                        type: string
                        x-go-custom-tag: gorm:"primaryKey"
                      verification:
                        type: string
                        description: vip verification result.
                        default: unverified
                        enum:
                          - unverified
                          - failed
                          - succeeded
                    description: The virtual IP used to reach the OpenShift cluster's API.
                base_dns_domain:
                  type: string
                  description: >-
                    Base domain of the cluster. All DNS records must be
                    sub-domains of this base and include the cluster name.
                cluster_network_cidr:
                  pattern: >-
                    ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                  type: string
                  description: >-
                    IP address block from which Pod IPs are allocated. This
                    block must not overlap with existing physical networks.
                    These IP addresses are used for the Pod network, and if you
                    need to access the Pods from an external network, configure
                    load balancers and routers to manage the traffic.
                  default: 10.128.0.0/14
                cluster_network_host_prefix:
                  maximum: 128
                  minimum: 1
                  type: integer
                  description: >-
                    The subnet prefix length to assign to each individual node.
                    For example, if clusterNetworkHostPrefix is set to 23, then
                    each node is assigned a /23 subnet out of the given cidr
                    (clusterNetworkCIDR), which allows for 510 (2^(32 - 23) - 2)
                    pod IPs addresses. If you are required to provide access to
                    nodes from an external network, configure load balancers and
                    routers to manage the traffic.
                cluster_networks:
                  type: array
                  description: Cluster networks that are associated with this cluster.
                  nullable: true
                  items:
                    type: object
                    properties:
                      cidr:
                        pattern: >-
                          ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                        type: string
                        x-go-custom-tag: gorm:"primaryKey"
                      cluster_id:
                        type: string
                        description: The cluster that this network is associated with.
                        format: uuid
                        x-go-custom-tag: gorm:"primaryKey"
                      host_prefix:
                        maximum: 128
                        minimum: 1
                        type: integer
                        description: >-
                          The subnet prefix length to assign to each individual
                          node. For example if is set to 23, then each node is
                          assigned a /23 subnet out of the given CIDR, which
                          allows for 510 (2^(32 - 23) - 2) pod IPs addresses.
                    description: >-
                      A network from which Pod IPs are allocated. This block
                      must not overlap with existing physical networks. These IP
                      addresses are used for the Pod network, and if you need to
                      access the Pods from an external network, configure load
                      balancers and routers to manage the traffic.
                cpu_architecture:
                  type: string
                  description: The CPU architecture of the image (x86_64/arm64/etc).
                  nullable: false
                  default: x86_64
                  enum:
                    - x86_64
                    - aarch64
                    - arm64
                    - ppc64le
                    - s390x
                    - multi
                disk_encryption:
                  type: object
                  properties:
                    enable_on:
                      type: string
                      description: >-
                        Enable/disable disk encryption on master nodes, worker
                        nodes, or all nodes.
                      default: none
                      enum:
                        - none
                        - all
                        - masters
                        - workers
                    mode:
                      type: string
                      description: The disk encryption mode to use.
                      default: tpmv2
                      enum:
                        - tpmv2
                        - tang
                    tang_servers:
                      type: string
                      description: >-
                        JSON-formatted string containing additional information
                        regarding tang's configuration
                      example: >-
                        [{"url":"http://tang.example.com:7500","thumbprint":"PLjNyRdGw03zlRoGjQYMahSZGu9"},
                        {"url":"http://tang.example.com:7501","thumbprint":"PLjNyRdGw03zlRoGjQYMahSZGu8"}]
                      x-go-custom-tag: gorm:"type:text"
                  x-go-custom-tag: gorm:"embedded;embeddedPrefix:disk_encryption_"
                high_availability_mode:
                  type: string
                  description: >
                    Guaranteed availability of the installed cluster. 'Full'
                    installs a Highly-Available cluster

                    over multiple master nodes whereas 'None' installs a full
                    cluster over one node.
                  default: Full
                  enum:
                    - Full
                    - None
                http_proxy:
                  type: string
                  description: >
                    A proxy URL to use for creating HTTP connections outside the
                    cluster.

                    http://\<username\>:\<pswd\>@\<ip\>:\<port\>
                  nullable: true
                https_proxy:
                  type: string
                  description: >
                    A proxy URL to use for creating HTTPS connections outside
                    the cluster.

                    http://\<username\>:\<pswd\>@\<ip\>:\<port\>
                  nullable: true
                hyperthreading:
                  type: string
                  description: >-
                    Enable/disable hyperthreading on master nodes, worker nodes,
                    or all nodes.
                  default: all
                  enum:
                    - masters
                    - workers
                    - none
                    - all
                ignition_endpoint:
                  type: object
                  properties:
                    ca_certificate:
                      type: string
                      description: >-
                        base64 encoded CA certficate to be used when contacting
                        the URL via https.
                      nullable: true
                    url:
                      type: string
                      description: The URL for the ignition endpoint.
                      nullable: true
                  description: >-
                    Explicit ignition endpoint overrides the default ignition
                    endpoint.
                  x-go-custom-tag: gorm:"embedded;embeddedPrefix:ignition_endpoint_"
                ingress_vips:
                  type: array
                  description: >-
                    The virtual IPs used for cluster ingress traffic. Enter one
                    IP address for single-stack clusters, or up to two for
                    dual-stack clusters (at most one IP address per IP stack
                    used). The order of stacks should be the same as order of
                    subnets in Cluster Networks, Service Networks, and Machine
                    Networks.
                  items:
                    type: object
                    properties:
                      cluster_id:
                        type: string
                        description: The cluster that this VIP is associated with.
                        format: uuid
                        x-go-custom-tag: gorm:"primaryKey"
                      ip:
                        pattern: >-
                          ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3})|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,}))?$
                        type: string
                        x-go-custom-tag: gorm:"primaryKey"
                      verification:
                        type: string
                        description: vip verification result.
                        default: unverified
                        enum:
                          - unverified
                          - failed
                          - succeeded
                    description: The virtual IP used for cluster ingress traffic.
                machine_networks:
                  type: array
                  description: Machine networks that are associated with this cluster.
                  nullable: true
                  items:
                    type: object
                    properties:
                      cidr:
                        pattern: >-
                          ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                        type: string
                        x-go-custom-tag: gorm:"primaryKey"
                      cluster_id:
                        type: string
                        description: The cluster that this network is associated with.
                        format: uuid
                        x-go-custom-tag: gorm:"primaryKey"
                    description: >-
                      A network that all hosts belonging to the cluster should
                      have an interface with IP address in. The VIPs (if exist)
                      belong to this network.
                name:
                  maxLength: 54
                  minLength: 1
                  type: string
                  description: Name of the OpenShift cluster.
                network_type:
                  type: string
                  description: The desired network type used.
                  nullable: true
                  enum:
                    - OpenShiftSDN
                    - OVNKubernetes
                no_proxy:
                  type: string
                  description: >-
                    An "*" or a comma-separated list of destination domain
                    names, domains, IP addresses, or other network CIDRs to
                    exclude from proxying.
                  nullable: true
                ocp_release_image:
                  type: string
                  description: OpenShift release image URI.
                olm_operators:
                  type: array
                  description: List of OLM operators to be installed.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      properties:
                        type: string
                        description: >-
                          Blob of operator-dependent parameters that are
                          required for installation.
                        x-go-custom-tag: gorm:"type:text"
                openshift_version:
                  type: string
                  description: Version of the OpenShift cluster.
                platform:
                  required:
                    - type
                  type: object
                  properties:
                    external:
                      type: object
                      properties:
                        cloud_controller_manager:
                          type: string
                          description: >-
                            When set to external, this property will enable an
                            external cloud provider.
                          nullable: true
                          default: ''
                          enum:
                            - ''
                            - External
                        platform_name:
                          minLength: 1
                          type: string
                          description: >-
                            Holds the arbitrary string representing the
                            infrastructure provider name.
                          nullable: true
                      description: >-
                        Configuration used when installing with an external
                        platform type.
                      x-go-custom-tag: gorm:"embedded;embeddedPrefix:external_"
                    type:
                      type: string
                      enum:
                        - baremetal
                        - nutanix
                        - vsphere
                        - none
                        - external
                  description: >-
                    The configuration for the specific platform upon which to
                    perform the installation.
                  x-go-custom-tag: gorm:"embedded;embeddedPrefix:platform_"
                pull_secret:
                  type: string
                  description: >-
                    The pull secret obtained from Red Hat OpenShift Cluster
                    Manager at console.redhat.com/openshift/install/pull-secret.
                schedulable_masters:
                  type: boolean
                  description: Schedule workloads on masters
                  default: false
                service_network_cidr:
                  pattern: >-
                    ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                  type: string
                  description: >-
                    The IP address pool to use for service IP addresses. You can
                    enter only one IP address pool. If you need to access the
                    services from an external network, configure load balancers
                    and routers to manage the traffic.
                  default: 172.30.0.0/16
                service_networks:
                  type: array
                  description: Service networks that are associated with this cluster.
                  nullable: true
                  items:
                    type: object
                    properties:
                      cidr:
                        pattern: >-
                          ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                        type: string
                        x-go-custom-tag: gorm:"primaryKey"
                      cluster_id:
                        type: string
                        description: >-
                          A network to use for service IP addresses. If you need
                          to access the services from an external network,
                          configure load balancers and routers to manage the
                          traffic.
                        format: uuid
                        x-go-custom-tag: gorm:"primaryKey"
                    description: IP address block for service IP blocks.
                ssh_public_key:
                  type: string
                  description: SSH public key for debugging OpenShift nodes.
                tags:
                  type: string
                  description: >-
                    A comma-separated list of tags that are associated to the
                    cluster.
                  nullable: true
                user_managed_networking:
                  type: boolean
                  description: >-
                    (DEPRECATED) Indicate if the networking is managed by the
                    user.
                  nullable: true
                  default: false
                vip_dhcp_allocation:
                  type: boolean
                  description: Indicate if virtual IP DHCP allocation mode is enabled.
                  nullable: true
                  default: false
        required: true
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                required:
                  - href
                  - id
                  - image_info
                  - kind
                  - status
                  - status_info
                type: object
                properties:
                  additional_ntp_source:
                    type: string
                    description: >-
                      A comma-separated list of NTP sources (name or IP) going
                      to be added to all the hosts.
                  ams_subscription_id:
                    type: string
                    description: Unique identifier of the AMS subscription in OCM.
                    format: uuid
                  api_vip_dns_name:
                    type: string
                    description: The domain name used to reach the OpenShift cluster API.
                    nullable: true
                  api_vips:
                    type: array
                    description: >-
                      The virtual IPs used to reach the OpenShift cluster's API.
                      Enter one IP address for single-stack clusters, or up to
                      two for dual-stack clusters (at most one IP address per IP
                      stack used). The order of stacks should be the same as
                      order of subnets in Cluster Networks, Service Networks,
                      and Machine Networks.
                    nullable: true
                    items:
                      type: object
                      properties:
                        cluster_id:
                          type: string
                          description: The cluster that this VIP is associated with.
                          format: uuid
                          x-go-custom-tag: gorm:"primaryKey"
                        ip:
                          pattern: >-
                            ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3})|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,}))?$
                          type: string
                          x-go-custom-tag: gorm:"primaryKey"
                        verification:
                          type: string
                          description: vip verification result.
                          default: unverified
                          enum:
                            - unverified
                            - failed
                            - succeeded
                      description: >-
                        The virtual IP used to reach the OpenShift cluster's
                        API.
                    x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                  base_dns_domain:
                    type: string
                    description: >-
                      Base domain of the cluster. All DNS records must be
                      sub-domains of this base and include the cluster name.
                  cluster_network_cidr:
                    pattern: >-
                      ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                    type: string
                    description: >-
                      IP address block from which Pod IPs are allocated. This
                      block must not overlap with existing physical networks.
                      These IP addresses are used for the Pod network, and if
                      you need to access the Pods from an external network,
                      configure load balancers and routers to manage the
                      traffic.
                  cluster_network_host_prefix:
                    maximum: 128
                    minimum: 1
                    type: integer
                    description: >-
                      The subnet prefix length to assign to each individual
                      node. For example, if clusterNetworkHostPrefix is set to
                      23, then each node is assigned a /23 subnet out of the
                      given cidr (clusterNetworkCIDR), which allows for 510
                      (2^(32 - 23) - 2) pod IPs addresses. If you are required
                      to provide access to nodes from an external network,
                      configure load balancers and routers to manage the
                      traffic.
                  cluster_networks:
                    type: array
                    description: Cluster networks that are associated with this cluster.
                    nullable: true
                    items:
                      type: object
                      properties:
                        cidr:
                          pattern: >-
                            ^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$
                          type: string
                          x-go-custom-tag: gorm:"primaryKey"
                        cluster_id:
                          type: string
                          description: The cluster that this network is associated with.
                          format: uuid
                          x-go-custom-tag: gorm:"primaryKey"
                        host_prefix:
                          maximum: 128
                          minimum: 1
                          type: integer
                          description: >-
                            The subnet prefix length to assign to each
                            individual node. For example if is set to 23, then
                            each node is assigned a /23 subnet out of the given
                            CIDR, which allows for 510 (2^(32 - 23) - 2) pod IPs
                            addresses.
                      description: >-
                        A network from which Pod IPs are allocated. This block
                        must not overlap with existing physical networks. These
                        IP addresses are used for the Pod network, and if you
                        need to access the Pods from an external network,
                        configure load balancers and routers to manage the
                        traffic.
                    x-go-custom-tag: gorm:"foreignkey:ClusterID;references:ID"
                  connectivity_majority_groups:
                    type: string
                    description: >-
                      Json formatted string containing the majority groups for
                      connectivity checks.
                    x-go-custom-tag: gorm:"type:text"
                  controller_logs_collected_at:
                    type: string
                    format: date-time
                    x-go-custom-tag: gorm:"type:timestamp with time zone"
                  controller_logs_started_at:
                    type: string
                    format: date-time
                    x-go-custom-tag: gorm:"type:timestamp with time zone"
                  cpu_architecture:
                    type: string
                    description: The CPU architecture of the image (x86_64/arm64/etc).
                    nullable: false
                    default: x86_64
                    enum:
                      - x86_64
                      - aarch64
                      - arm64
                      - ppc64le
                      - s390x
                      - multi
                  created_at:
                    type: string
                    description: The time that this cluster was created.
                    format: date-time
                    x-go-custom-tag: gorm:"type:timestamp with time zone"
                    x-go-type:
                      hints:
                        noValidation: true
                      import:
                        package: time
                      type: Time
                  deleted_at:
                    type: object
                    description: swagger:ignore
                    nullable: false
                    x-go-custom-tag: gorm:"type:timestamp with time zone;index"
                    x-go-type:
                      hints:
                        noValidation: true
                      import:
                        package: gorm.io/gorm
                      type: DeletedAt
                  disk_encryption:
                    type: object
                    properties:
                      enable_on:
                        type: string
                        description: >-
                          Enable/disable disk encryption on master nodes, worker
                          nodes, or all nodes.
                        default: none
                        enum:
                          - none
                          - all
                          - masters
                          - workers
                      mode:
                        type: string
                        description: The disk encryption mode to use.
                        default: tpmv2
                        enum:
                          - tpmv2
                          - tang
                      tang_servers:
                        type: string
                        description: >-
                          JSON-formatted string containing additional
                          information regarding tang's configuration
                        example: >-
                          [{"url":"http://tang.example.com:7500","thumbprint":"PLjNyRdGw03zlRoGjQYMahSZGu9"},
                          {"url":"http://tang.example.com:7501","thumbprint":"PLjNyRdGw03zlRoGjQYMahSZGu8"}]
                        x-go-custom-tag: gorm:"type:text"
                    x-go-custom-tag: gorm:"embedded;embeddedPrefix:disk_encryption_"
                  email_domain:
                    type: string
                  enabled_host_count:
                    type: integer
                    description: >-
                      hosts associated to this cluster that are not in
                      'disabled' state.
                    format: int64
                    x-go-custom-tag: gorm:"-"
                  feature_usage:
                    type: string
                    description: >-
                      JSON-formatted string containing the usage information by
                      feature name
                    x-go-custom-tag: gorm:"type:text"
                  high_availability_mode:
                    type: string
                    description: >
                      Guaranteed availability of the installed cluster. 'Full'
                      installs a Highly-Available cluster

                      over multiple master nodes whereas 'None' installs a full
                      cluster over one node.
                    default: Full
                    enum:
                      - Full
                      - None
                  host_networks:
                    type: array
                    description: List of host networks to be filled during query.
                    nullable: true
                    items:
                      type: object
                      properties:
                        cidr:
                          type: string
                        host_ids:
                          type: array
                          items:
                            type: string
                            format: uuid
                    x-go-custom-tag: gorm:"-"
                  hosts:
                    type: array
                    description: Hosts that are associated with this cluster.
                    items:
                      required:
                        - href
                        - id
                        - kind
                        - status
                        - status_info
                      type: object
                      properties:
                        api_vip_connectivity:
                          type: string
                          description: Contains a serialized api_vip_connectivity_response
                          x-go-custom-tag: gorm:"type:text"
                        bootstrap:
                          type: boolean
                        checked_in_at:
                          type: string
                          description: >-
                            The last time the host's agent communicated with the
                            service.
                          format: date-time
                          x-go-custom-tag: gorm:"type:timestamp with time zone"
                        cluster_id:
                          type: string
                          description: The cluster that this host is associated with.
                          format: uuid
                          nullable: true
                          x-go-custom-tag: gorm:"foreignkey:Cluster"
                        connectivity:
                          type: string
                          x-go-custom-tag: gorm:"type:text"
                        created_at:
                          type: string
                          format: date-time
                          x-go-custom-tag: gorm:"type:timestamp with time zone"
                          x-go-type:
                            hints:
                              noValidation: true
                            import:
                              package: time
                            type: Time
                        deleted_at:
                          type: object
                          description: swagger:ignore
                          nullable: false
                          x-go-custom-tag: gorm:"type:timestamp with time zone;index"
                          x-go-type:
                            hints:
                              noValidation: true
                            import:
                              package: gorm.io/gorm
                            type: DeletedAt
                        discovery_agent_version:
                          type: string
                        disks_info:
                          type: string
                          description: >-
                            Additional information about disks, formatted as
                            JSON.
                          x-go-custom-tag: gorm:"type:text"
                        disks_to_be_formatted:
                          type: string
                          description: >-
                            A comma-separated list of disks that will be
                            formatted once

                            installation begins, unless otherwise set to be
                            skipped by

                            skip_formatting_disks. This means that this list
                            also includes disks

                            that appear in skip_formatting_disks. This property
                            is managed by the

                            service and cannot be modified by the user.
                          x-go-custom-tag: gorm:"type:text"
                        domain_name_resolutions:
                          type: string
                          description: The domain name resolution result.
                          x-go-custom-tag: gorm:"type:text"
                        free_addresses:
                          type: string
                          x-go-custom-tag: gorm:"type:text"
                        href:
                          type: string
                          description: Self link.
                        id:
                          type: string
                          description: Unique identifier of the object.
                          format: uuid
                          x-go-custom-tag: gorm:"primaryKey"
                        ignition_config_overrides:
                          type: string
                          description: >-
                            Json formatted string containing the user overrides
                            for the host's pointer ignition
                          example: >-
[...]
